export SHELL=/bin/bash
export NATS_TAG=2.9.16-alpine3.17
export NATS_BOX_TAG=0.13.8
export NATS_NETWORK=nats_nats
export NATS_CNTR=n1
export NATS_N1_CNTR_LOOKUP=n1.nats.net

# Endpoints
# /routez
# This endpoint provides information on the cluster routes and their status
# http://localhost:8222/routez