export SHELL=/bin/bash
export POSTGRES_CNTR=postgres
export NATS_TAG=2.9.16-alpine3.17
export NATS_BOX_TAG=0.13.8

# Endpoints
# /routez
# This endpoint provides information on the cluster routes and their status
# http://localhost:8222/routez