export SHELL=/bin/bash
export POSTGRES_CNTR=postgres
export POSTGRES_TAG=12-alpine

# Establish connection
# Please add the Docker container IP to your /etc/hosts
# jdbc:postgresql://pg.local:5432/postgres
# or
# jdbc:postgresql://localhost:5432/postgres