export SHELL=/bin/bash
export NATS_TAG=2.9.16-alpine3.17
export NATS_BOX_TAG=0.13.8
export NATS_NETWORK=nats-js_nats
export NATS_N1=n1
export NATS_N2=n2
export NATS_N3=n3
export NATS_NODE_IP_ADDR=n1.nats.net